<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/order"  style="background-color: rgba(118,255,20,0.22)" class="btn btn-primary">История заказов</a>
    <a href="/product" class="btn btn-primary">Препараты</a>
    <a href="/typeMedicine"style="background-color: rgba(118,255,20,0.22)" class="btn btn-primary">Категория препарата</a>
    <a href="/recipe" class="btn btn-primary">Рецепты</a>
    <a href="/client" style="background-color: rgba(118,255,20,0.22)" class="btn btn-primary">Пользователи</a>
    <a href="/employee" class="btn btn-primary">Сотрудники</a>
    <a href="/point" style="background-color: rgba(118,255,20,0.22)" class="btn btn-primary">Точки выдачи</a>
    <a href="/employeePosition" class="btn btn-primary">Должности</a>
    <a href="/admin/users" style=" background-color: rgba(118,255,20,0.22)" class="btn btn-primary">АДМИНИСТРАТОР</a>
</body>
</html>